<div class="container border rounded-2 mt-3 p-3">
    <div class="container">
        <div class="d-grid gap-2 mb-2">
            <button *ngIf="hideFormButton" class="btn btn-info mb-3 mt-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#parcelsContainer" aria-expanded="true" aria-controls="parcelsContainer" (click)="toggleButtons()">
                Hide New Parcel Input Form
            </button>
            <button *ngIf="showFormButton" class="btn btn-info mb-3 mt-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#parcelsContainer" aria-expanded="true" aria-controls="parcelsContainer" (click)="toggleButtons()">
                Show New Parcel Input Form
            </button>
        </div>
    </div>

    <div class="container">

        <div class="container show" id="parcelsContainer">

            <!-- form -->
            <div class="row g-2">
                <input hidden type="number" class="form-control" id="parcelId" [(ngModel)]="id">
                <div class="col-md-3">
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="receiverInput" placeholder="Receiver"
                            [(ngModel)]="receiver">
                        <label for="receiverInput">Receiver</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="phoneInput" placeholder="Phone number"
                            [(ngModel)]="phone">
                        <label for="phoneInput">Phone number</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-floating mb-2">
                        <input type="number" class="form-control form-control-sm" id="weightInput" placeholder="Weight, kg"
                            [(ngModel)]="weight">
                        <label for="weightInput">Weight, kg</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="infoInput" placeholder="Info"
                            [(ngModel)]="info">
                        <label for="phoneInput">Info</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-floating">
                        <select class="form-select form-select-sm" id="parcelMachineSelect" [(ngModel)]="parcelMachineId"
                            [ngModelOptions]="{standalone: true}">
                            <option selected [ngValue]=0>Select...</option>
                            <option *ngFor="let machine of parcelMachines" [ngValue]="machine.id">
                                {{ machine.city }} - {{ machine.code }}
                            </option>
                        </select>
                        <label for="parcelMachineSelect">Parcel machine</label>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <button type="button" class="btn btn-info" (click)="add()" *ngIf="displaySaveButton">Add</button>
                <button type="button" class="btn btn-info" (click)="saveUpdated()"
                    *ngIf="displayUpdateButton">Update parcel info</button>
            </div>
        </div>

        <!-- filter -->
        <div class="row g-2 mb-3">
            <div class="col-5">
                <div class="input-group">
                    <label class="input-group-text" for="parcelMachineSelect">Filter by parcel machine</label>
                    <select class="form-select form-select-sm" id="horseSelect" [(ngModel)]="filterParcelsId"
                        [ngModelOptions]="{standalone: true}">
                        <option selected [ngValue]=0>All parcel machines</option>
                        <option *ngFor="let machine of parcelMachines" [ngValue]="machine.id">
                            {{ machine.city }} - {{ machine.code }}
                        </option>
                    </select>
                    <button type="button" class="btn btn-secondary"
                        (click)="filter(filterParcelsId)">Filter</button>
                </div>
            </div>
        </div>

        <!-- table -->
        <table class="table table-hover table-bordered">
            <thead class="table-info">
                <tr>
                    <th scope="col" class="ps-3 pe-3">Receiver</th>
                    <th scope="col" class="ps-3 pe-3 text-center">Phone number</th>
                    <th scope="col" class="ps-3 pe-3 text-center">Weight, kg</th>
                    <th scope="col" class="ps-3 pe-3 text-center">Information</th>
                    <th scope="col" class="ps-3 pe-3 text-center">Parcel machine code</th>
                    <th scope="col" class="ps-3 pe-3"></th>
                </tr>
            </thead>
            <tbody>
                <tr class="p-3" *ngFor="let parcel of parcels">
                    <td class="ps-3 pe-3">{{ parcel.receiver }}</td>
                    <td class="ps-3 pe-3 text-center">{{ parcel.phone }}</td>
                    <td class="ps-3 pe-3 text-center">{{ parcel.weight }}</td>
                    <td class="ps-3 pe-3 text-center">{{ parcel.info }}</td>
                    <td class="ps-3 pe-3 text-center">{{ parcel.parcelMachineCode }}</td>
                    <td class="ps-3 pe-3 text-center">
                        <button type="button" class="btn btn-outline-danger btn-sm me-2"
                            (click)="delete(parcel.id)">Delete</button>
                        <button type="button" class="btn btn-outline-info btn-sm"
                            (click)="update(parcel)">Update</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
